@font-face {
  font-family: 'cookie';
  src: url("cookie.woff") format("woff"), url("cookie.ttf") format("truetype"); }

html {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  background: url(pattern_40.png) top left repeat;
  margin: 0;
  padding: 0;
  font-size: 3.90625vw; }
  body .module .module-header {
    font-family: cookie, Arial;
    font-size: 5.20833vw;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.025em; }
    body .module .module-header span {
      color: #E74304; }
  body .module .qr-module {
    position: relative;
    display: block;
    margin: 0 auto;
    -webkit-box-shadow: -1px 3px 29px 0px rgba(254, 254, 254, 0.8);
    box-shadow: -1px 3px 29px 0px rgba(254, 254, 254, 0.8);
    border: 1.17188vw solid #fff;
    border-radius: 8px;
    overflow: hidden; }
    body .module .qr-module .qr-border {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    body .module .qr-module #qr-video {
      -o-object-fit: cover;
      object-fit: cover;
      height: 100%;
      width: 100%; }
  body .result {
    font-size: 3.90625vw;
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    padding: 4.88281vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.8); }
  .overlay .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

/* Second Loadin Circle */
.circleOuter {
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid rgba(0, 183, 229, 0.9);
  opacity: .9;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  -webkit-box-shadow: 0 0 35px #2187e7;
  box-shadow: 0 0 35px #2187e7;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  -moz-animation: spinPulse 1s infinite ease-in-out;
  -webkit-animation: spinPulse 1s infinite linear; }

.circleInner {
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid rgba(0, 183, 229, 0.9);
  opacity: .9;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  -webkit-box-shadow: 0 0 15px #2187e7;
  box-shadow: 0 0 15px #2187e7;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  -moz-animation: spinoffPulse 1s infinite linear;
  -webkit-animation: spinoffPulse 1s infinite linear; }

@-moz-keyframes spinPulse {
  0% {
    -moz-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #2187e7; }
  50% {
    -moz-transform: rotate(145deg);
    opacity: 1; }
  100% {
    -moz-transform: rotate(-320deg);
    opacity: 0; } }

@-moz-keyframes spinoffPulse {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spinPulse {
  0% {
    -webkit-transform: rotate(160deg);
    opacity: 0;
    -webkit-box-shadow: 0 0 1px #2187e7;
    box-shadow: 0 0 1px #2187e7; }
  50% {
    -webkit-transform: rotate(145deg);
    opacity: 1; }
  100% {
    -webkit-transform: rotate(-320deg);
    opacity: 0; } }

@-webkit-keyframes spinoffPulse {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
