<style>
	.c-line {
		font-size: 80px;
    	display: inline-block;
    	vertical-align: bottom;
	}

	.footer-chain img {
		width: 80px;
		height: 80px;
	}
</style>
<div class="container">
	<div class="top-chain" id="top-chain">
		<div class="header">
			<div class="logo">
				<a href="/" class="logo-img"><img src="assets/img/logo.png" alt="logo"></a>
			
			</div>
		</div>		
		
	</div>
	<div class="footer-chain padbotom0">
		<h4 class="title">Device Compatibility</h4>
		<div class="block-inner text-center">
			<img src="assets/img/android.png" /> <span class="c-line">=></span> <img src="assets/img/chrome.png" /> <br /><br />
			<img src="assets/img/iphone.png" /> <span class="c-line">=></span> <img src="assets/img/safari.png" /> <br /><br />
			<img src="assets/img/pc.png" /> <span class="c-line">=></span> <img src="assets/img/chrome.png" /> <br /><br />
		</div>
	</div>
</div>