﻿<div class="container">
	<div class="top-chain" id="top-chain">
		<div class="header">
			<div class="logo">
				<a href="/" class="logo-img"><img src="assets/img/logo.png" alt="logo"></a>
				<div class="point">Tokens: <span></span></div>
			</div>
		</div>
		<div class="qr-code">
			<div class="img-qr" id="qrcode">
			</div>
			<p id="link-qr" class="link-code">{{token}}</p>
			<a href="" class="btn btn-blur">Redeem now</a>
		</div>
		
	</div>
	<div class="footer-chain padbotom0">
		<h4 class="title">Survey</h4>
		<div class="block-inner text-center">
			<div class="inner-flex">
				<i class="ic-edit"></i>
				<span class="get-card">Get your rewards <i class="ic-card"></i></span>
			</div>
			<p class="des-chain">Complete survey to receive your reward</p>
			<button ng-click="startSurvey()" class="btn btn-star magrinTop"><span>Start now</span></button>
		</div>
	</div>
</div>