﻿<div class="container">
	<div id="top-chain" class="top-chain">
		<div class="header">
			<div class="logo">
				<a href="/" class="logo-img"><img src="assets/img/logo.png" alt="logo"></a>
				<div class="point">Tokens: <span>100</span></div>
			</div>
		</div>
		<div class="qr-code">
			<div class="img-qr" id="qrcode">
			</div>
			<p class="link-code">{{token}}</p>
			<button ng-click="viewQRcode()" class="btn btn-blur btn-green"><span>Redeem now</span></button>
		</div>
		
	</div>
	<div class="footer-chain padbotom0">
		<h4 class="title">Survey</h4>
		<div class="block-inner text-center">
			<div class="inner-flex">
				<i class="ic-edit"></i>
				<span class="get-card">Get your rewards <i class="ic-card"></i></span>
			</div>
			<p class="des-chain">Complete survey to receive your reward</p>
			<button class="btn btn-star btn-green magrinTop"><span>Finish</span></button>			
		</div>
	</div>
</div>