﻿<div class="container">
	<div class="top-chain" id="top-chain">
	
		<div class="success text-center">
			<a href="/" class="logo-img"><img src="assets/img/logo.png" alt="logo"></a>
			<h2 class="congra">Congratulation, Guest.</h2>
			<p class="des">You’ve just received</p>
			<p class="number">100</p>
			<p class="tokens">Tokens</p>
			<button ng-click="redirecTo()" class="btn btn-blur btn-green magrinTop"><span>Finish</span></button>	
		</div>			
		
	</div>
	
</div>