﻿<div class="container">
    <div id="top-chain" class="top-chain">
        <div class="header">
            <div class="logo">
                <a href="/" class="logo-img"><img src="assets/img/logo.png" alt="logo"></a>
                <div class="point">Tokens: <span>100</span></div>
            </div>
        </div>
        <div class="qr-code">
            <div class="img-qr" id="qrcode">
            </div>
            <p class="link-code"></p>
            <a href="#" class="btn btn-blur">Redeem now</a>
        </div>
    </div>
    <div class="footer-chain">
        <h4 class="title">Survey</h4>
        <p class="note-head">Please complete below survey to receive our special gifts!</p>
        <div class="block-inner">
            <div class="left-flex">
                <i class="ic-polygon">1</i>
                <span class="title-poly">This year is the anniversary of how many years of establishment of FPT company?</span>
            </div>
            <label class="block-checkbox">
                <span class="ic-checkmark">
					<input type="radio" name='1' class="check" value="Retended belonging contented mrs suffering favourite you the continual">
					<span class="checkmark"></span>
                </span>
                <div class="des-check">
                    <div class="content-des">20
                    </div>
                </div>
            </label>
            <label class="block-checkbox">
                <span class="ic-checkmark">
					<input type="radio" name='1' class="check" value="Retended belonging contented mrs suffering favourite you the continual">
					<span class="checkmark"></span>
                </span>
                <div class="des-check">
                    <div class="content-des">25
                    </div>
                </div>
            </label>
			<label class="block-checkbox">
                <span class="ic-checkmark">
					<input type="radio" name='1' class="check" value="Retended belonging contented mrs suffering favourite you the continual">
					<span class="checkmark"></span>
                </span>
                <div class="des-check">
                    <div class="content-des">30
                    </div>
                </div>
            </label>
        </div>
        <div class="block-inner">
            <div class="left-flex">
                <i class="ic-polygon">2</i>
                <span class="title-poly">What is the platform of Akachain products?</span>
            </div>
            <label class="block-checkbox">
                <span class="ic-checkmark">
					<input type="radio" name='2' class="check" value="Retended belonging contented mrs suffering favourite you the continual">
					<span class="checkmark"></span>
                </span>
                <div class="des-check">
                    <div class="content-des">Cloud
                    </div>
                </div>
            </label>
            <label class="block-checkbox">
                <span class="ic-checkmark">
					<input type="radio" name='2' class="check" value="Retended belonging contented mrs suffering favourite you the continual">
					<span class="checkmark"></span>
                </span>
                <div class="des-check">
                    <div class="content-des">Blockchain
                    </div>
                </div>
            </label>
			<label class="block-checkbox">
                <span class="ic-checkmark">
					<input type="radio" name='2' class="check" value="Retended belonging contented mrs suffering favourite you the continual">
					<span class="checkmark"></span>
                </span>
                <div class="des-check">
                    <div class="content-des">Mobile app
                    </div>
                </div>
            </label>
        </div>
        
        <div class="text-center">
            <button ng-click="validate()" class="btn btn-blur btn-green magrinTop"><span>Submit</span></button>
        </div>
    </div>
</div>