﻿<div class="container">
	<div id="top-chain" class="top-chain viewQR text-center">
				<a href="/" class="logo-img"><img src="assets/img/logo.png" alt="logo"></a>
				<p class="desQR">Success, please bring this QR code to our booth to get your gift</p>
		</div>
	</div>
	<div class="footer-chain view-qr">
		<div class="img-qr" id="qrcode">
			</div>
		<div class="text-center">
			<!--<a href="#" class="btn btn-blur btn-green">Finish</a>-->
		</div>
	</div>
</div>