@import '../common/_variables';
@import '../common/_functions';

.container {
    // max-width: 750px;
    margin: auto;   
}

body {
    background-color: #f5f6f8;
    &.success {
        background-color: #191c2f !important;
    }
}


.top-chain {
    background-color: #191c2f;
    background-image: url('../../img/bgr_home.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: remy(128px) remy(126px);
	
	
	canvas {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		opacity: 0.6;
		z-index: 1;
	}

}

.header {
    margin-bottom: remy(120px);
    position: relative;
    z-index: 99;
}

.qr-code {
    text-align: center;
    margin-bottom: remy(120px);
    position: relative;
    z-index: 99;
	
	canvas {
		display: none;
	}
}

.logo {
    display: flex;
    .logo-img {
        width: 35%;
        img {
            width: 100%;
        }
    }
    .point {
        width: 65%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-family: 'Lato-Regular';
        font-size: remy(64px);
        text-transform: uppercase;
        color: #fff;
        span {
            font-family: 'Lato-Regular';
            font-size: remy(130px);
            padding-left: remy(40px);
        }
    }
}

.img-qr {
    width: 35%;
    margin: auto;
    background-color: #fff;
    padding: remy(60px);
    border-radius: remy(12px);
    margin-bottom: remy(70px);
    img {
        width: 100%;
    }
}

.link-code {
    font-family: 'Lato-Medium';
    font-size: remy(52px);
    text-transform: uppercase;
    letter-spacing: 0.088em;
    color: #fff;
    text-align: center;
    width: 70%;
    margin: auto;
    word-break: break-all;
    margin-bottom: remy(120px);
}

.text-center {
    text-align: center;
}

.footer-chain {
    padding: remy(126px);
	background-color: #f5f6f8;    
    border-radius: remy(80px) remy(80px) 0 0;
	
	&.view-qr {
		background-color: #222222;
	}
	
    margin-top: remy(-60px);
    &.padbotom0{
        padding-bottom: 0;
    }
    .title {
        font-size: remy(80px);
        color: #575757;
        font-family: 'Lato-Medium';
        padding-bottom: remy(44px);
    }
    .block-inner {
        background-color: #ffffff;
        padding: remy(70px);
        margin-bottom: remy(88px);
        margin-top: remy(44px);
        border-radius: remy(20px);
        box-shadow: 0px remy(40px) remy(80px) rgba(50, 60, 90, 0.09);
    }
    .des-chain {
        font-size: remy(72px);
        font-family: 'Lato-Bold';
        color: #000000;
        line-height: 1.3;
        text-align: left;
        margin-bottom: remy(70px);
    }
    .inner-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: remy(70px);
        .get-card {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-family: 'Lato-Regular';
            font-size: remy(40px);
        }
        .ic-edit {
            width: remy(152px);
            height: remy(176px);
            background-image: url('../../img/edit.png');
            background-repeat: no-repeat;
            background-size: 100%;
            display: inline-block;
        }

        .ic-card {
            width: remy(48px);
            height: remy(48px);
            background-image: url('../../img/ic_gift.png');
            background-repeat: no-repeat;
            background-size: 100%;
            display: inline-block;
            opacity: 0.51;
            margin-left: remy(20px);
        }
    }
    .img-qr{
		background-color: transparent;
       
        width: 65%;
        margin-bottom: remy(178px);
        margin-top: remy(65px);
    }
	
	&.view-qr {
		.img-qr {
			 background-color: #fff;
		}
	}
}

.btn-blur {
    
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ccd1d9;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(90deg, #ccd1d9, #8f9aa8);
    /* Standard syntax (must be last) */
    &.btn-green {
        background-color: #a0d468;
        /* For browsers that do not support gradients */
        background-image: linear-gradient(90deg, #a0d468, #6eaf27);
        /* Standard syntax (must be last) */
        box-shadow: 0 3px 16px rgba(160, 212, 104, 0.30);
    }
}
.btn{
    border-radius: (100px);
    height: remy(140px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 remy(40px);
    font-size: remy(60px);
    font-family: 'Lato-Medium';
    min-width: remy(555px);
    border: 0;
    &.magrinTop{
        margin-top: remy(65px);
    }
}
.btn-star {
    
    color: #d33131;
    text-transform: uppercase;
    border: 1px solid #d33131;
    background-color: transparent;
    &.btn-green {
        color: #6eaf27;
        border: 1px solid #6eaf27;
        text-align: center;
        background-color: transparent;
    }
}

// survey
.note-head {
    font-family: 'Lato-Regular';
    font-size: remy(58px);
    color: #726a6a;
    padding-bottom: remy(44px);
}

.ic-polygon {
    width: remy(90px);
    height: remy(100px);
    background-image: url('../../img/brg_number.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
        flex-wrap: wrap;
    font-size: remy(45px);
    color: #ffffff;
    font-family: 'Lato-Bold';
    margin-right: remy(44px);
}

.left-flex {
    display: inline-flex;
    justify-content: flex-start;
    margin-bottom: remy(60px);
}

.title-poly {
    font-family: 'Lato-Bold';
    font-size: remy(72px);
    color: #000000;
    width: calc(100% - 4.4vh);
    display: block;
}

// success
.success {
	position: relative;
	z-index: 99;
	
    .logo-img {
        margin-top: remy(178px);
        display: inline-block;
        img {
            width: 40%;
        }
    }
    .congra {
        font-size: remy(92px);
        font-family: 'Lato-Regular';
        color: #ffffff;
        letter-spacing: 0.08em;
        padding-bottom: remy(44px);
        padding-top: remy(60px);
    }
    .des {
        font-size: remy(64px);
        font-family: 'Lato-Regular';
        color: #ffffff;
        letter-spacing: 0.08em;
        padding-bottom: remy(60px);
    }
    .number {
        letter-spacing: 0.05em;
        font-size: remy(160px);
        font-family: 'Lato-Bold';
        color: #ffffff;
    }
    .tokens {
        letter-spacing: 0.08em;
        text-transform: uppercase;
        font-size: remy(72px);
        font-family: 'Lato-Medium';
        color: #ffffff;
        padding-top: remy(44px);
        margin-bottom: remy(178px);
    }
}

 .viewQR{
    .logo-img {
        margin-top: remy(178px);
        display: inline-block;
        img {
            width: 40%;
        }
    }
    .desQR{
        font-size: remy(72px);
        font-family: 'Lato-Regular';
        color: #ffffff;
        padding-bottom: remy(44px);
        padding-top: remy(60px);
    }
}


.overlay {
	display: none;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(34,34,34, 0.8);
	
	&.show {
		display: block;
	}
	
	.inner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

/* Second Loadin Circle */

.circleOuter {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-right:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 35px #2187e7;
	width:50px;
	height:50px;
	margin:0 auto;
	-moz-animation:spinPulse 1s infinite ease-in-out;
	-webkit-animation:spinPulse 1s infinite linear;
}
.circleInner {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-left:5px solid rgba(0,0,0,0);
	border-right:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 15px #2187e7; 
	width:30px;
	height:30px;
	margin:0 auto;
	position:relative;
	top:-50px;
	-moz-animation:spinoffPulse 1s infinite linear;
	-webkit-animation:spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
	0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
	50% { -moz-transform:rotate(145deg); opacity:1; }
	100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
	50% { -webkit-transform:rotate(145deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}