html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

strong {
  font-weight: 700; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

div:active, div:focus, button:active, button:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a {
  text-decoration: none; }
  a:active, a:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/***FONTS***/
/*** Asap-Regular ***/
@font-face {
  font-family: 'Asap-Regular';
  src: url("../../fonts/Asap/asap-regular.woff") format("woff"), url("../../fonts/Asap/asap-regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

/*** Asap-Medium ***/
@font-face {
  font-family: 'Asap-Medium';
  src: url("../../fonts/Asap/asap-medium.woff") format("woff"), url("../../fonts/Asap/asap-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

/*** Asap-Bold ***/
@font-face {
  font-family: 'Asap-Bold';
  src: url("../../fonts/Asap/asap-bold.woff") format("woff"), url("../../fonts/Asap/asap-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

/*** Lato-Regular ***/
@font-face {
  font-family: 'Lato-Regular';
  src: url("../../fonts/Lato/lato-regular.woff") format("woff"), url("../../fonts/Lato/lato-regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

/*** Lato-Medium ***/
@font-face {
  font-family: 'Lato-Medium';
  src: url("../../fonts/Lato/lato-medium.woff") format("woff"), url("../../fonts/Lato/lato-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

/*** Lato-Bold ***/
@font-face {
  font-family: 'Lato-Bold';
  src: url("../../fonts/Lato/lato-bold.woff") format("woff"), url("../../fonts/Lato/lato-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

/*** Roboto-Regular ***/
@font-face {
  font-family: 'Roboto-Regular';
  src: url("../../fonts/Roboto/roboto-regular.woff") format("woff"), url("../../fonts/Roboto/roboto-regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

/*** Roboto-Medium ***/
@font-face {
  font-family: 'Roboto-Medium';
  src: url("../../fonts/Roboto/roboto-medium.woff") format("woff"), url("../../fonts/Roboto/roboto-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

/*** Roboto-Bold ***/
@font-face {
  font-family: 'Roboto-Bold';
  src: url("../../fonts/Roboto/roboto-bold.woff") format("woff"), url("../../fonts/Roboto/roboto-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

/*** Gothic-Bold ***/
@font-face {
  font-family: 'Gothic-Bold';
  src: url("../../fonts/SFU_TradeGothic/SFUTradeGothicBoldCondensedTwenty.woff") format("woff"), url("../../fonts/SFU_TradeGothic/SFUTradeGothicBoldCondensedTwenty.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

/* END: @fontface */
@font-face {
  font-family: 'iconapp';
  src: url("../../fonts/iconApp/iconapp.ttf?e53vm0") format("truetype"), url("../../fonts/iconApp/iconapp.woff?e53vm0") format("woff");
  font-weight: normal;
  font-style: normal; }

.icon {
  font-family: 'iconapp';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-right-arrow:before {
  content: "\e914"; }

.icon-up-arrow:before {
  content: "\e913"; }

.icon-star:before {
  content: "\e912";
  color: #458dbb; }

.icon-pin:before {
  content: "\e90e"; }

.icon-border:before {
  content: "\e90f"; }

.icon-dollar:before {
  content: "\e910"; }

.icon-home:before {
  content: "\e911"; }

.icon-run:before {
  content: "\e90c"; }

.icon-check-mark:before {
  content: "\e90d"; }

.icon-left-arrow:before {
  content: "\e90b"; }

.icon-circular:before {
  content: "\e90a"; }

.icon-filter-results:before {
  content: "\e908"; }

.icon-arrow-down:before {
  content: "\e909"; }

.icon-close-radius:before {
  content: "\e907"; }

.icon-search:before {
  content: "\e906"; }

.icon-arrow:before {
  content: "\e900"; }

.icon-arrow-grp:before {
  content: "\e901"; }

.icon-calendar:before {
  content: "\e902"; }

.icon-check:before {
  content: "\e903"; }

.icon-close:before {
  content: "\e904"; }

.icon-list:before {
  content: "\e905"; }

body {
  letter-spacing: 0.045em;
  color: #515151;
  font-family: 'Lato-Regular',Arial, Helvetica, sans-serif;
  line-height: 1.3;
  font-size: 0.73333vh; }
  @media screen and (max-width: 500px) {
    body {
      font-size: 11px; } }
  @media screen and (orientation: landscape) {
    body {
      font-size: remyh(22px); } }

.block-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1.73333vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-flex;
  /* Safari */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 1.6vh;
  line-height: 1.33333vh;
  line-height: 1.3; }
  .block-checkbox:nth-of-type(1) .content-des {
    border-top: 0; }
  .block-checkbox .content-des {
    padding-top: 1.46667vh;
    padding-bottom: 1.46667vh;
    border-top: 1px solid #e1e1e1; }
  .block-checkbox .ic-checkmark {
    position: absolute;
    left: 0;
    width: 100%;
    display: -webkit-flex;
    /* Safari */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    top: 0.33333vh;
    margin-top: 1.46667vh; }
  .block-checkbox .des-check {
    padding-left: 3.33333vh; }
  .block-checkbox .checkmark {
    position: relative;
    height: 2vh;
    width: 2vh;
    background-color: transparent;
    border: 1px solid #9c9c9c;
    border-radius: 0.13333vh; }
    .block-checkbox .checkmark:after {
      content: "";
      position: absolute;
      display: none;
      left: 0.53333vh;
      top: 0.13333vh;
      width: 0.66667vh;
      height: 1.16667vh;
      border: solid white;
      border-width: 0 0.13333vh 0.13333vh 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  .block-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
    .block-checkbox input:checked ~ .checkmark {
      background-color: #77D557;
      border: 1px solid transparent; }
    .block-checkbox input:checked ~ .des-check {
      color: #090909; }
    .block-checkbox input:checked ~ .checkmark:after {
      display: block; }

.overlay {
  background: rgba(255, 255, 255, 0.81);
  width: 100%;
  height: 100%;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed; }
  .overlay .icon-loading {
    background-image: url("../../img/loading.gif");
    background-size: contain;
    width: 4vh;
    height: 4vh;
    position: absolute;
    z-index: 999999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto; }

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
