.container {
  margin: auto; }

body {
  background-color: #f5f6f8; }
  body.success {
    background-color: #191c2f !important; }

.top-chain {
  background-color: #191c2f;
  background-image: url("../../img/bgr_home.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 4.26667vh 4.2vh; }
  .top-chain canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0.6;
    z-index: 1; }

.header {
  margin-bottom: 4vh;
  position: relative;
  z-index: 99; }

.qr-code {
  text-align: center;
  margin-bottom: 4vh;
  position: relative;
  z-index: 99; }
  .qr-code canvas {
    display: none; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .logo .logo-img {
    width: 35%; }
    .logo .logo-img img {
      width: 100%; }
  .logo .point {
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Lato-Regular';
    font-size: 2.13333vh;
    text-transform: uppercase;
    color: #fff; }
    .logo .point span {
      font-family: 'Lato-Regular';
      font-size: 4.33333vh;
      padding-left: 1.33333vh; }

.img-qr {
  width: 35%;
  margin: auto;
  background-color: #fff;
  padding: 2vh;
  border-radius: 0.4vh;
  margin-bottom: 2.33333vh; }
  .img-qr img {
    width: 100%; }

.link-code {
  font-family: 'Lato-Medium';
  font-size: 1.73333vh;
  text-transform: uppercase;
  letter-spacing: 0.088em;
  color: #fff;
  text-align: center;
  width: 70%;
  margin: auto;
  word-break: break-all;
  margin-bottom: 4vh; }

.text-center {
  text-align: center; }

.footer-chain {
  padding: 4.2vh;
  background-color: #f5f6f8;
  border-radius: 2.66667vh 2.66667vh 0 0;
  margin-top: -2vh; }
  .footer-chain.view-qr {
    background-color: #222222; }
  .footer-chain.padbotom0 {
    padding-bottom: 0; }
  .footer-chain .title {
    font-size: 2.66667vh;
    color: #575757;
    font-family: 'Lato-Medium';
    padding-bottom: 1.46667vh; }
  .footer-chain .block-inner {
    background-color: #ffffff;
    padding: 2.33333vh;
    margin-bottom: 2.93333vh;
    margin-top: 1.46667vh;
    border-radius: 0.66667vh;
    -webkit-box-shadow: 0px 1.33333vh 2.66667vh rgba(50, 60, 90, 0.09);
    box-shadow: 0px 1.33333vh 2.66667vh rgba(50, 60, 90, 0.09); }
  .footer-chain .des-chain {
    font-size: 2.4vh;
    font-family: 'Lato-Bold';
    color: #000000;
    line-height: 1.3;
    text-align: left;
    margin-bottom: 2.33333vh; }
  .footer-chain .inner-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2.33333vh; }
    .footer-chain .inner-flex .get-card {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-family: 'Lato-Regular';
      font-size: 1.33333vh; }
    .footer-chain .inner-flex .ic-edit {
      width: 5.06667vh;
      height: 5.86667vh;
      background-image: url("../../img/edit.png");
      background-repeat: no-repeat;
      background-size: 100%;
      display: inline-block; }
    .footer-chain .inner-flex .ic-card {
      width: 1.6vh;
      height: 1.6vh;
      background-image: url("../../img/ic_gift.png");
      background-repeat: no-repeat;
      background-size: 100%;
      display: inline-block;
      opacity: 0.51;
      margin-left: 0.66667vh; }
  .footer-chain .img-qr {
    background-color: transparent;
    width: 65%;
    margin-bottom: 5.93333vh;
    margin-top: 2.16667vh; }
  .footer-chain.view-qr .img-qr {
    background-color: #fff; }

.btn-blur {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ccd1d9;
  /* For browsers that do not support gradients */
  background-image: -webkit-gradient(linear, left top, right top, from(#ccd1d9), to(#8f9aa8));
  background-image: -webkit-linear-gradient(left, #ccd1d9, #8f9aa8);
  background-image: -o-linear-gradient(left, #ccd1d9, #8f9aa8);
  background-image: linear-gradient(90deg, #ccd1d9, #8f9aa8);
  /* Standard syntax (must be last) */ }
  .btn-blur.btn-green {
    background-color: #a0d468;
    /* For browsers that do not support gradients */
    background-image: -webkit-gradient(linear, left top, right top, from(#a0d468), to(#6eaf27));
    background-image: -webkit-linear-gradient(left, #a0d468, #6eaf27);
    background-image: -o-linear-gradient(left, #a0d468, #6eaf27);
    background-image: linear-gradient(90deg, #a0d468, #6eaf27);
    /* Standard syntax (must be last) */
    -webkit-box-shadow: 0 3px 16px rgba(160, 212, 104, 0.3);
    box-shadow: 0 3px 16px rgba(160, 212, 104, 0.3); }

.btn {
  border-radius: 100px;
  height: 4.66667vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 0 1.33333vh;
  font-size: 2vh;
  font-family: 'Lato-Medium';
  min-width: 18.5vh;
  border: 0; }
  .btn.magrinTop {
    margin-top: 2.16667vh; }

.btn-star {
  color: #d33131;
  text-transform: uppercase;
  border: 1px solid #d33131;
  background-color: transparent; }
  .btn-star.btn-green {
    color: #6eaf27;
    border: 1px solid #6eaf27;
    text-align: center;
    background-color: transparent; }

.note-head {
  font-family: 'Lato-Regular';
  font-size: 1.93333vh;
  color: #726a6a;
  padding-bottom: 1.46667vh; }

.ic-polygon {
  width: 3vh;
  height: 3.33333vh;
  background-image: url("../../img/brg_number.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 1.5vh;
  color: #ffffff;
  font-family: 'Lato-Bold';
  margin-right: 1.46667vh; }

.left-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 2vh; }

.title-poly {
  font-family: 'Lato-Bold';
  font-size: 2.4vh;
  color: #000000;
  width: calc(100% - 4.4vh);
  display: block; }

.success {
  position: relative;
  z-index: 99; }
  .success .logo-img {
    margin-top: 5.93333vh;
    display: inline-block; }
    .success .logo-img img {
      width: 40%; }
  .success .congra {
    font-size: 3.06667vh;
    font-family: 'Lato-Regular';
    color: #ffffff;
    letter-spacing: 0.08em;
    padding-bottom: 1.46667vh;
    padding-top: 2vh; }
  .success .des {
    font-size: 2.13333vh;
    font-family: 'Lato-Regular';
    color: #ffffff;
    letter-spacing: 0.08em;
    padding-bottom: 2vh; }
  .success .number {
    letter-spacing: 0.05em;
    font-size: 5.33333vh;
    font-family: 'Lato-Bold';
    color: #ffffff; }
  .success .tokens {
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-size: 2.4vh;
    font-family: 'Lato-Medium';
    color: #ffffff;
    padding-top: 1.46667vh;
    margin-bottom: 5.93333vh; }

.viewQR .logo-img {
  margin-top: 5.93333vh;
  display: inline-block; }
  .viewQR .logo-img img {
    width: 40%; }

.viewQR .desQR {
  font-size: 2.4vh;
  font-family: 'Lato-Regular';
  color: #ffffff;
  padding-bottom: 1.46667vh;
  padding-top: 2vh; }

.overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.8); }
  .overlay.show {
    display: block; }
  .overlay .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

/* Second Loadin Circle */
.circleOuter {
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid rgba(0, 183, 229, 0.9);
  opacity: .9;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  -webkit-box-shadow: 0 0 35px #2187e7;
  box-shadow: 0 0 35px #2187e7;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  -moz-animation: spinPulse 1s infinite ease-in-out;
  -webkit-animation: spinPulse 1s infinite linear; }

.circleInner {
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid rgba(0, 183, 229, 0.9);
  opacity: .9;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  -webkit-box-shadow: 0 0 15px #2187e7;
  box-shadow: 0 0 15px #2187e7;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  -moz-animation: spinoffPulse 1s infinite linear;
  -webkit-animation: spinoffPulse 1s infinite linear; }

@-moz-keyframes spinPulse {
  0% {
    -moz-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #2187e7; }
  50% {
    -moz-transform: rotate(145deg);
    opacity: 1; }
  100% {
    -moz-transform: rotate(-320deg);
    opacity: 0; } }

@-moz-keyframes spinoffPulse {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spinPulse {
  0% {
    -webkit-transform: rotate(160deg);
    opacity: 0;
    -webkit-box-shadow: 0 0 1px #2187e7;
    box-shadow: 0 0 1px #2187e7; }
  50% {
    -webkit-transform: rotate(145deg);
    opacity: 1; }
  100% {
    -webkit-transform: rotate(-320deg);
    opacity: 0; } }

@-webkit-keyframes spinoffPulse {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
