@function remy($pxsize) {
	 $pxsize : ($pxsize / ($pxsize * 0 + 1)); 
    @return ($pxsize / 30)+vh;
}

// @function remyh($pxsize) {
// 	$pxsize : ($pxsize / ($pxsize * 0 + 1)); 
//     @return ($pxsize / 10)+vh;
// }


// $base-size: 25px;

// @function remy($target, $context: $base-size) {
//   @if $target == 0 { @return 0 }
//   @return $target / $context + 0em;
// }



