

@font-face {

  font-family: 'iconapp';
 
  src:  
    url('../../fonts/iconApp/iconapp.ttf?e53vm0') format('truetype'),
    url('../../fonts/iconApp/iconapp.woff?e53vm0') format('woff');
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: 'iconapp';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right-arrow:before {
  content: "\e914";
}
.icon-up-arrow:before {
  content: "\e913";
}
.icon-star:before {
  content: "\e912";
  color: #458dbb;
}
.icon-pin:before {
  content: "\e90e";
}
.icon-border:before {
  content: "\e90f";
}
.icon-dollar:before {
  content: "\e910";
}
.icon-home:before {
  content: "\e911";
}
.icon-run:before {
  content: "\e90c";
}
.icon-check-mark:before {
  content: "\e90d";
}
.icon-left-arrow:before {
  content: "\e90b";
}
.icon-circular:before {
  content: "\e90a";
}
.icon-filter-results:before {
  content: "\e908";
}
.icon-arrow-down:before {
  content: "\e909";
}
.icon-close-radius:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e906";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-arrow-grp:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-list:before {
  content: "\e905";
}

