@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin placeholder($color,$font-size){
	&::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $color;
        font-size: $font-size;
    }
    &:focus::-webkit-input-placeholder {
	    color: red;
	}
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $color;
        font-size: $font-size;
    }
    &:focus:-moz-placeholder {
	    color: red;
	}
    &:-ms-input-placeholder {
        /* IE 10+ */
        color: $color;
        font-size: $font-size;
    }
    &:focus:-ms-input-placeholder {
	    color: red;
	}
    &:-moz-placeholder {
        /* Firefox 18- */
        color: $color;
        font-size: $font-size;
    }
    &:focus::-moz-placeholder {
	    color: red;
	}
}
