html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
strong {font-weight: 700;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
div, button{
  &:active,
  &:focus{
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
}
a{
	text-decoration: none;
  &:active,
  &:focus{
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***FONTS***/

/*** Asap-Regular ***/
@font-face {
  font-family: 'Asap-Regular';  
  src:   
  url('../../fonts/Asap/asap-regular.woff') format('woff'), 
  url('../../fonts/Asap/asap-regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/*** Asap-Medium ***/
@font-face {
  font-family: 'Asap-Medium'; 
  src: 
  url('../../fonts/Asap/asap-medium.woff') format('woff'), 
  url('../../fonts/Asap/asap-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


/*** Asap-Bold ***/
@font-face {
  font-family: 'Asap-Bold'; 
  src: 
  url('../../fonts/Asap/asap-bold.woff') format('woff'), 
  url('../../fonts/Asap/asap-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


/*** Lato-Regular ***/
@font-face {
  font-family: 'Lato-Regular';  
  src: 
  url('../../fonts/Lato/lato-regular.woff') format('woff'), 
  url('../../fonts/Lato/lato-regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/*** Lato-Medium ***/
@font-face {
  font-family: 'Lato-Medium'; 
  src: 
  url('../../fonts/Lato/lato-medium.woff') format('woff'), 
  url('../../fonts/Lato/lato-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


/*** Lato-Bold ***/
@font-face {
  font-family: 'Lato-Bold'; 
  src: 
  url('../../fonts/Lato/lato-bold.woff') format('woff'), 
  url('../../fonts/Lato/lato-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/*** Roboto-Regular ***/
@font-face {
  font-family: 'Roboto-Regular';  
  src: 
  url('../../fonts/Roboto/roboto-regular.woff') format('woff'), 
  url('../../fonts/Roboto/roboto-regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/*** Roboto-Medium ***/
@font-face {
  font-family: 'Roboto-Medium'; 
  src: 
  url('../../fonts/Roboto/roboto-medium.woff') format('woff'), 
  url('../../fonts/Roboto/roboto-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


/*** Roboto-Bold ***/
@font-face {
  font-family: 'Roboto-Bold'; 
  src: 
  url('../../fonts/Roboto/roboto-bold.woff') format('woff'), 
  url('../../fonts/Roboto/roboto-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/*** Gothic-Bold ***/
@font-face {
  font-family: 'Gothic-Bold'; 
  src: 
  url('../../fonts/SFU_TradeGothic/SFUTradeGothicBoldCondensedTwenty.woff') format('woff'), 
  url('../../fonts/SFU_TradeGothic/SFUTradeGothicBoldCondensedTwenty.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* END: @fontface */