@import '../common/_variables';
@import '../common/_functions';
@import '../common/_resets';
@import '../common/_mixins';
@import '../common/_iconfont';


body{
    letter-spacing: 0.045em; 
    color: #515151;
    font-family: 'Lato-Regular',Arial, Helvetica, sans-serif;
    line-height: 1.3;
    font-size: remy(22px);
    @media screen and (max-width: 500px){
          font-size: 11px;  
    }
    @media screen and (orientation: landscape) {
         font-size: remyh(22px);
    }
}
.block-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: remy(52px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: remy(48px);
    line-height: remy(40px);
    line-height: 1.3;
    &:nth-of-type(1) {
        .content-des{
            // padding-top: 0;
            // margin-top: 0;
            border-top: 0;
        }
        // .ic-checkmark{
        //      margin-top: 0;
        // }
    }
    .content-des{
        padding-top: remy(44px);
        padding-bottom: remy(44px);
        border-top: 1px solid #e1e1e1;
    }
    .ic-checkmark{
        position: absolute;
        left: 0;
        width: 100%;
        display: -webkit-flex; /* Safari */
        display: flex;
         flex-wrap: wrap;
         top: remy(10px);
         margin-top: remy(44px);
    }
    .des-check{
        padding-left: remy(100px);
       
    }
    .checkmark {
        position: relative;
        height: remy(60px);
        width: remy(60px);
        background-color: transparent;
        border: 1px solid #9c9c9c;
        border-radius: remy(4px);
        
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: remy(16px);
            top: remy(4px);
            width: remy(20px);
            height: remy(35px);
            border: solid white;
            border-width: 0 remy(4px) remy(4px) 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            
        }

    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .checkmark {
            background-color: #77D557;
            border: 1px solid transparent;
        }
        &:checked ~ .des-check {
            color: #090909;
        }
        &:checked ~ .checkmark:after {
            display: block;
        }
    }
   
}
// .block-radio{
//     [type="radio"]:checked,
//     [type="radio"]:not(:checked) {
//         position: absolute;
//         left: -9999px;
//     }
//     [type="radio"]:checked + label,
//     [type="radio"]:not(:checked) + label
//     {
//         position: relative;
//         cursor: pointer;
//         display: inline-block;
//         padding-left: remy(56px);
//         line-height: remy(40px);
//         color: #5f5f5f;
//         font-size: remy(22px);
//         font-family: 'Lato-Regular';
//         text-transform: uppercase;
       

//     }
//     [type="radio"]:checked + label:before,
//     [type="radio"]:not(:checked) + label:before {
//         content: '';
//         position: absolute;
//         left: 0;
//         top: 0;
//         width: remy(36px);
//         height: remy(36px);
//         border: 1px solid #ddd;
//         border-radius: 100%;
//         background: #fff;
//     }
//     [type="radio"]:checked + label:after,
//     [type="radio"]:not(:checked) + label:after {
//         content: '';
//         background: #57cb2f;
//         position: absolute;
//         width: remy(24px);
//         height: remy(24px);
//         top: remy(7px);
//         left: remy(7.4px);
//         border-radius: 100%;
//         -webkit-transition: all 0.2s ease;
//         transition: all 0.2s ease;
//     }
//     [type="radio"]:not(:checked) + label:after {
//         opacity: 0;
//         -webkit-transform: scale(0);
//         transform: scale(0);
//     }
//     [type="radio"]:checked + label:after {
//         opacity: 1;
//         -webkit-transform: scale(1);
//         transform: scale(1);
//     }
// }

.overlay {
    background: rgba(255, 255, 255, 0.81);
    width: 100%;
    height: 100%;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;    
    .icon-loading{
        background-image: url('../../img/loading.gif');
        background-size: contain;
        width: remy(120px);
        height: remy(120px);
        position: absolute;
        z-index: 999999;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto; 
    }
}

/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
